body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex; 
    color:black;
}

article {
    background-color: white;
    padding: ;
    width: 400px;
    margin:24px ;
}

.article-but {
    text-decoration: none;
    background-color:#6B8CFD;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
   
}

footer {
    background-color: white;
    padding: ;
    display: flex;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}
